* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background: #f8f9fa;
    font-family: Arial, sans-serif;
}

header {
    font-family: fantasy;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 16px;
    width: 100%;
    height: 100px;
    margin: 0;
    padding: 0;
}

#info h1 {
    margin: 8px 0 0 0;
    line-height: 1;
}

#info h1:first-child {
    margin-bottom: 0px;
}

#info {
    width: 100%;
    height: 100%;
    border-bottom: 3px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    padding: 0 16px;
}